<div class="main-content page-m">
    <div class="section-content">
        <div class="container-fluid">
            <!-- START OF FORM -->
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-2"><label>First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert-danger mt-1">
                                        <div *ngIf="firstName.errors.required">
                                            Firstname is required
                                        </div>
                                        <div *ngIf="firstName.errors.minlength || firstName.errors.whiteSpaceOnly">
                                            Firstname must be at least two characters
                                        </div>
                                    </div>
                            </div>
                        </div>        
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                            <input formControlName="lastName" type="text">
                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert-danger mt-1">
                                    <div *ngIf="lastName.errors.required">
                                        Lastname is required
                                    </div>
                                    <div *ngIf="lastName.errors.minlength || lastName.errors.whiteSpaceOnly">
                                        Lastname must be at least two characters
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                            <input formControlName="email" type="text">
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-danger mt-1">
                                    <div *ngIf="email.errors.required">
                                        Email is required
                                    </div>
                                    <div *ngIf="email.errors.pattern">
                                        Not a valid email
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>

                <!-- Shipping address form group-->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                    <div *ngIf="street.invalid && (street.dirty || street.touched)" class="alert-danger mt-1">
                                        <div *ngIf="street.errors.required">
                                            Street is required
                                        </div>
                                        <div *ngIf="street.errors.minlength || street.errors.whiteSpaceOnly">
                                            Please enter a valid street name
                                        </div>
                                    </div>
                            </div>
                        </div>        
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                            <input formControlName="city" type="text">
                                <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert-danger mt-1">
                                    <div *ngIf="city.errors.required">
                                        Street is required
                                    </div>
                                    <div *ngIf="city.errors.minlength || city.errors.whiteSpaceOnly">
                                        Please enter a valid city
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                    <select formControlName="state">
                                        <option *ngFor="let state of shippingStates" [ngValue]="state">
                                            {{state.name}}
                                        </option>
                                    </select>
                                    <div *ngIf='state.invalid && (state.dirty || state.touched)' class="alert-danger mt-1">
                                        <div *ngIf='state.errors.required'>
                                                state is required
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{country.name}}
                                    </option>
                                </select>
                                <div *ngIf='country.invalid && (country.dirty || country.touched)' class="alert-danger mt-1">
                                    <div *ngIf='country.errors.required'>
                                            country is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                            <input formControlName="zipCode" type="text">
                                <div *ngIf='zipCode.invalid && (zipCode.dirty || zipCode.touched)' class="alert-danger mt-1">
                                    <div *ngIf='zipCode.errors.pattern'>
                                            Please enter a valid zipcode
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Check Box to Copy shipping address to billing -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyAddressToBilling($event)">
                        <span class="au-checkmark"></span>Billing address same as shipping address
                    </label>
                </div>
                <!-- Billing address form group -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                    <div *ngIf="billingStreet.invalid && (billingStreet.dirty || billingStreet.touched)" class="alert-danger mt-1">
                                        <div *ngIf="billingStreet.errors.required">
                                            Street is required
                                        </div>
                                        <div *ngIf="billingStreet.errors.minlength || billingStreet.errors.whiteSpaceOnly">
                                            Please enter a valid street name
                                        </div>
                                    </div>
                            </div>
                        </div>        
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                            <input formControlName="city" type="text">
                                <div *ngIf="billingCity.invalid && (billingCity.dirty || billingCity.touched)" class="alert-danger mt-1">
                                    <div *ngIf="billingCity.errors.required">
                                        Street is required
                                    </div>
                                    <div *ngIf="billingCity.errors.minlength || billingCity.errors.whiteSpaceOnly">
                                        Please enter a valid city
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingStates" [ngValue]="state">
                                        {{state.name}}
                                    </option>
                                </select>
                                    <div *ngIf='billingState.invalid && (billingState.dirty || billingState.touched)' class="alert-danger mt-1">
                                        <div *ngIf='billingState.errors.required'>
                                                state is required
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                            <select formControlName="country" (change)="getStates('billingAddress')">
                                <option *ngFor="let country of countries" [ngValue]="country">
                                    {{country.name}}
                                </option>
                            </select>
                                <div *ngIf='billingCountry.invalid && (billingCountry.dirty || billingCountry.touched)' class="alert-danger mt-1">
                                    <div *ngIf='billingCountry.errors.required'>
                                            country is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                            <input formControlName="zipCode" type="text">
                                <div *ngIf='billingZipCode.invalid && (billingZipCode.dirty || billingZipCode.touched)' class="alert-danger mt-1">
                                    <div *ngIf='billingZipCode.errors.pattern'>
                                            Please enter a valid zipcode
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Credit Card -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Debit</option>
                                    <option>Visa</option>
                                    <option>MasterCard</option>
                                </select>
                                <div *ngIf="cardType.invalid && (cardType.dirty || cardType.touched)" class="alert-danger mt-1">
                                    <div *ngIf="cardType.errors.required">
                                        Credit Card Type is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Name on Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                                <div *ngIf="nameOnCard.invalid && (nameOnCard.dirty || nameOnCard.touched)" class="alert-danger mt-1">
                                    <div *ngIf="nameOnCard.errors.required">
                                        Name on card is required
                                    </div>
                                    <div *ngIf="nameOnCard.errors.minlength || nameOnCard.errors.whiteSpaceOnly">
                                        Please enter a valid name
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                            <input formControlName="cardNumber" type="text">
                                <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)" class="alert-danger mt-1">
                                    <div *ngIf="cardNumber.errors.required">
                                        Card Number is required
                                    </div>
                                    <div *ngIf="cardNumber.errors.pattern">
                                        Card Number must be 16 digits
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
                    <div class="row">
                        <div class="col-md-2"><label>Security Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                            <input formControlName="securityCode" type="text">
                                <div *ngIf="securityCode.invalid && (securityCode.dirty || securityCode.touched)" class="alert-danger mt-1">
                                    <div *ngIf="securityCode.errors.required">
                                        securityCode is required
                                    </div>
                                    <div *ngIf="securityCode.errors.pattern">
                                        securityCode must be 3 digits
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Expiration Month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{month}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Expiration Year</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{year}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Order Details -->
                <div>
                    <h3>Review Your Order</h3>
                    <p>Total Quantity: {{totalQuantity}}</p>
                    <p>Shipping: {{1.99 | currency:'USD'}}</p>
                    <p>Total Price: {{totalPrice + 1.99 | currency: 'USD'}}</p>
                </div>
                <!-- submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>
            </form>
            <!-- END OF FORM -->
        </div>
    </div>
</div>

